body {
    background-image: url('images/bgimage.jpg');
    background-repeat: repeat;
}

div#container {
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

header {
    background-color: red;
    padding: 20px 0;
}


/* BEGIN FONT STYLES */
h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0,0,0, 0.75);
}

h2 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 6px double #000000;
    margin: 20px auto;
}

p {
    text-indent: 3em;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px 0;
}
/* END FONT STYLES */


/* BEGIN ANCHOR STYLES */
a {
    color: red;
    font-size: 24px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);

    line-height: 3;
}

a:hover {
    background-color: red;
    color: white;
}
/* END ANCHOR STYLES */

ul {
    width: 25%;
    margin: 0 auto;
    list-style-image: url(../images/mushroom.jpg);
}

pre {
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

/* IMAGE STYLES */
img.right {
    float: right;
    margin: 0 0 10px 10px;
}

img.left {
    float: left;
    margin: 0 10px 10px 0;
}