body {
    background: url("../images/bgimage.jpg") repeat;
}

div#container {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 2px red solid;
    border-radius: 20px;
}

header {
    background-color: red;
    padding: 10px 0;
}


/* BEGIN FONT STYLES */
h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0,0,0, 0.75);
}

h2 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 17px double lightgray;
    margin: 0 auto;
    line-height: 2;
}

p {
    text-indent: 3em;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px 0;
}
/* END FONT STYLES */


/* BEGIN ANCHOR STYLES */
a {
    color: red;
    font-size: 24px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    line-height: 3;
}

a:hover {
    background-color: red;
    color: white;
}
/* END ANCHOR STYLES */

ul {
    width: 25%;
    margin: 0 auto;
    list-style-image: url(../images/mushroom.jpg);
}

pre {
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

/* IMAGE STYLES */
img.right {
    float: right;
    margin: 0 0 10px 10px;
}

img.left {
    float: left;
    margin: 0 10px 10px 0;
}

img.center {
    margin: 0 auto;
}
/* CHAPTER SELECTOR STYLES */
ul#selector {
    width: 50%;
    margin: 20px auto;
}

ul#selector li {
    display: inline;
    margin: 0 25px;
}

ul#selector a {
    line-height: 1;
    border-radius: 10px;
}

li#selected {
    border: red solid 2px;
    border-radius: 10px;
    font-size: 24px;
    display: inline;
    color: white;
    background-color: red;
}

/* DIV FOR TILING MUSHROOM IMAGES AT BOTTOM OF EACH PAGE */
div#bottom {
    background: url("../images/mushroom.jpg") repeat-x;
    height: 35px;
}