body {
    line-height: 1;
}

/* ### FONT STYLING FOR COMIC RELIEF FROM FONTSQUIRREL ### */
@font-face {
    font-family: 'comic_reliefregular';
    src: url('../fonts/comic_relief/ComicRelief-webfont.eot');
    src: url('../fonts/comic_relief/ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/comic_relief/ComicRelief-webfont.woff') format('woff'),
    url('../fonts/comic_relief/ComicRelief-webfont.ttf') format('truetype'),
    url('../fonts/comic_relief/ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* ### RENDERS IMAGES FROM CSS RATHER THAN USING IMG TAG IN HTML BODY ### */
#panel3 {
    background: transparent url(../images/panel3.jpg) no-repeat top left;);
    height: 305px;
    width: 903px;
}

#panel5 {
    background: transparent url(../images/panel5.jpg);
    height: 556px;
    width: 572px;
}

/* ### POSITIONS EACH ROW ### */
.row {
    width: 920px;
    margin: auto;
    position: relative;
}

#row3 div {
    float: left;
}

/* ### CODE TO INDENT TEXT ### */
.bump {
    display: inline-block;
}

.bump5 {
    margin-left: 5px;
}

.bump10 {
    margin-left: 10px;
}

.bump20 {
    margin-left: 20px;
}

.bump30 {
    margin-left: 30px;
}

/* ### CODE TO STYLE AND POSITION TEXT IN BUBBLES ###*/
.bubbles {
    position: absolute;
    font-family: 'comic_reliefregular' arial sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

#bubble1 {
    position: absolute;
    top: 12px;
    left: 21px;
    font-family: 'comic_reliefregular' arial sans-serif;
    font-size: 19px;
}

#bubble2 {
    top: 13px;
    left: 143px;
    width: 314px;
    font-size: 15px;
}

#bubble3 {
    top: 88px;
    left: 249px;
    font-size: 15px;
    width: 207px;

}

#bubble4 {
    top: 16px;
    left: 483px;
    font-size: 15px;
    width: 209px;
}

#bubble5 {
    top: 16px;
    left: 665px;
    font-size: 15px;
    width: 240px;
}

#bubble6 {
    top: 138px;
    left: 712px;
    font-size: 15px;
    width: 181px;
}

#bubble7 {
    top: 274px;
    left: 823px;
    font-size: 15px;
    width: 110px;
}

#bubble8 {
    top: 11px;
    left: 23px;
    font-size: 15px;
    width: 190px;
}

#bubble9 {
    top: 12px;
    left: 236px;
    font-size: 15px;
    width: 188px;
}

#bubble10 {
    top: 16px;
    left: 679px;
    font-size: 15px;
    width: 209px;
}

#bubble11 {
    top: 244px;
    left: 218px;
    font-size: 15px;
    width: 267px;
}

#bubble12 {
    top: 4px;
    left: 12px;
    font-size: 15px;
    width: 194px;
}

#bubble13 {
    top: 465px;
    left: 12px;
    font-size: 15px;
    width: 170px;
}

#bubble14 {
    top: 523px;
    left: 230px;
    font-size: 15px;
    width: 97px;
}

#bubble15 {
    top: 8px;
    left: 370px;
    font-size: 15px;
    width: 209px;
}

#bubble16 {
    top: 12px;
    left: 724px;
    font-size: 15px;
    width: 161px;
}

#bubble17 {
    top: 397px;
    left: 379px;
    font-size: 15px;
    width: 171px;
}

#bubble18 {
    top: 485px;
    left: 383px;
    font-size: 15px;
    width: 133px;
}

#bubble19 {
    top: 500px;
    left: 699px;
    font-size: 19px;
    width: 153px;
}